@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-344px * 6)); }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 35s linear infinite;
}

.pause-on-hover:hover .animate-scroll {
  animation-play-state: paused;
}
